body {
  text-align: center;
  color: white;
}
#url {
  height: 30px;
  border: none;
  border-radius: 10px;
}

#text {
  height: 20px;
  border: none;
  border-radius: 5px;
}

button {
  border: none;
  border-radius: 6px;
  background-color: grey;
  color: black;
  cursor: pointer;
}
button:hover {
  background-color: lightgrey;
}
.left {
  text-align: left;
}
